@import url(style.css);

.container__header img {
  border-radius: 0.625rem 0.625rem 0 0;
}

@media screen and (min-width: 48rem) {
  .container__header img {
    width: 350px;
    
    border-radius: 0.625rem 0 0 0.625rem;
  }
}
