@import url(styles.css);

main{
    background-color: var(--white);
    border-radius: 0 0 0.625rem 0.625rem;
    padding: 2.25rem 2rem 1.25rem;
}

.main__text{
    margin-bottom: 2rem;
}

.main__contact,
.main__contact__img__name{
    width: 100%;
    display: flex;
   
}

.main__contact{
    justify-content: space-between;
    align-items: center;
}

.main__contact__img__name>img{
    width:2.5rem ;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}

.contact--name{
    color: var( --very-dark-grayish-blue);
}

.date{
    color: var(--grayish-light-blue);
}


.main__contact--share:hover,
.links--share:hover{
    cursor: pointer;
    opacity: 0.5;

}

.main__contact--share,
.links--share {
    width: 2.5rem;
    height: 2.5rem;
  }
  


@media screen and (min-width:48rem) {
    main{
        border-radius: 0 0.625rem 0.625rem 0;
        padding: 2.390rem 2rem;
    }
    
    .main__text{
        width: 22.8125rem;
        margin-bottom: 1.25rem;
    }
    
}
